{% extends 'base.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('js/flashMessages.js') }}"></script>
{% endblock %}

{% block main %}

    <div class="d-flex justify-content-between">
        <div>
            {{ form(form)}}
        </div>

        <ul>
        <h2>Liste des catégories</h2>
            {% for category in categories %}
                <div class="d-flex justify-content-between align-items-center">
                    <li class="font-weight-bold">{{ category.name }}</li>
                    <a class="badge badge-danger" href="{{ path('admin_category_delete', {id: category.categoryid, _csrf_token: csrf_token('deleteCategory')}) }}">Supprimer Catégorie</a>
                </div>
            {% endfor %}
        </ul>
    </div>

    {% for message in app.flashes('success') %}
        <div class="success alert-success text-center">
            {{ message }}
        </div>
    {% endfor %}

{% endblock %}
